# PostgreSQL Database Setup
DB_USER=tu_usuario_local
DB_PASSWORD=tu_contraseña_secreta
DB_NAME=sso_db
DB_PORT=5432

# JWT Configuration
JWT_SECRET=your_jwt_secret_key

# Mock API URL for Operations Service
MOCK_API_URL=https://example.mockapi.io/api/v1/operations

# Kafka Configuration
KAFKA_BROKER=localhost:9092
KAFKA_PORT=9092
KAFKAJS_NO_PARTITIONER_WARNING=1